{% extends 'base.html.twig' %}

{% block title %}
	Change Password - {{ app.user.fullname }}
{% endblock %}

{% block body %}
	{{ form_start(form, {'attr': {'class': 'col my-2 text-center'}}) }}
        <h5>Change Password</h5>
	    {{ form_row(form.currentPassword) }}
	    {{ form_row(form.newPassword) }}
        <button type="submit" class="btn btn-primary col-lg">Update</button>
	{{ form_end(form) }}
{% endblock %}